@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style-type: none !important;
  font-family: 'Inria Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Outfit', sans-serif;
}

:root {
  /* font size */
  --fs_xsm: 16px;
  --fs_sm: 20px;
  --fs_md: 24px;
  --fs_base: 15px;

  /* font weigth */
  --fw_normal: 400;
  --fw_medium: 500;
  --fw_bold: 700;

  /* font color */
  --bg_green: #1b575b;
  --clr_yelwo: #fda63f;
  --clr_white: #ffffff;
  --clr_geye: #464343;
  --clr_black: #000000;
  --bg_black: #000000;
  --bg_white: #ffffff;
}
/* font size */
.fs_xsm {
  font-size: var(--fs_xsm);
}
.fs_sm {
  font-size: var(--fs_sm);
}
.fs_md {
  font-size: var(--fs_md);
}
.fs_base {
  font-size: var(--fs_base);
}
/* font weigth */
.fw_normal {
  font-weight: var(--fw_normal);
}
.fw_medium {
  font-weight: var(--fw_medium);
}
.fw_bold {
  font-weight: var(--fw_bold);
}

/* font color */

.clr_yelwo {
  color: var(--clr_yelwo);
}
.clr_white {
  color: var(--clr_white);
}
.bg_green {
  background-color: var(--bg_green);
}
.bg_black {
  background-color: var(--bg_black);
}
.clr_black {
  color: var(--clr_black);
}
.clr_geye {
  color: var(--clr_geye);
}
.bg_white {
  background-color: var(--bg_white);
}
.hover:hover {
  color: #fda63f;
}
.border {
  border: 2px solid white;
  margin-left: 50px;
  margin-right: 50px;
}
.img_1 {
  position: absolute;
  left: 2px;
  bottom: 10%;
  z-index: -1;
  overflow: hidden;
}
.bg_green2 {
  background-color: #1B575B;
  padding-bottom: 40px;
}
.bg_img {
  border: 12px solid white;
}
.img_green {
  position: absolute;
  left: 7%;
  bottom: 20%;
}

.img_man {
  position: absolute;
  right: 19%;
  bottom: -5%;
}
.img_white {
  position: absolute;
  right: 0px;
  bottom: -10%;
  z-index: -1;
}
.button_hover {
  border: 2px solid #1b575b;
  background: linear-gradient(#075056, #044348);
  padding-top: 20px;
  padding-bottom: 20px;
}
.button_hover:hover {
  background: linear-gradient(#000000, #000000);
}
.border-bottom {
  border: 2px solid rgb(45, 43, 43);
  width: 28%;
}
.bg {
  padding-left: 4%;
}
.border_3 {
  border-bottom: 2px solid rgb(103, 99, 99);
  width: 95%;
  text-align: center;
}
.bg_white2 {
  background-color: #f2f8f7;
  width: 100%;
  margin-top: 8px;
}
.input {
  background-color: #dff1f0;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.button {
  border-radius: 5px;
  background-color: #00aaa1;
}
.img_green {
  border: 1px solid #5d5a5a;

  background: rgba(0, 0, 0, 0.3);

  backdrop-filter: blur(6px);
  width: 452px;
  height: 252px;
  flex-shrink: 0;
}
.button:hover {
  background-color: #dff1f0;
  color: #044348;
}
.images:hover {
  transition: 3s;
  transform: scale(1.1);
  overflow: hidden;
}
.div {
  overflow-y: scroll;
  height: 800px;
}
.green_div {
  height: 35px;
  width: 70px;
  background-color: #00aaa1;
}
.span:hover svg path {
  fill: white;
}
.span:hover svg {
  fill: #00aaa1;
}
.span:hover svg path {
  stroke: #00aaa1;
}
